@import "../../../app/sass/variables";
@import "../../../app/sass/mixins";

.sideMenu {
  display: flex;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  opacity: 0;

  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding-top: 5rem;

  color: $color-secondary;
  background-color: $color-dark-transparent-l;

  transition: opacity 500ms ease-out, visibility 500ms ease-out;

  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &__socialMedia {
    display: flex;
    align-self: center;
    justify-self: center;
  }
}
