@import "../../app/sass/variables";
@import "../../app/sass/mixins";

.carousel {
  width: 100vw;
  height: 100vh;
  min-width: 35rem;
  background-color: $color-dark-l;
  overflow: hidden;

  @include media-l {
    height: 72rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;

    @include media-l {
      height: 72rem;
    }
  }
}
