@import "../../app/sass/variables";
@import "../../app/sass/mixins";

.carousel {
  width: 100vw;
  height: 100%;
  background-color: $color-dark-l;
  overflow: hidden;

  &__wrapper {
    @include media-m {
      display: none;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    opacity: 60%;
  }
}
