@import "../../../app/sass/mixins";

.iconsWrapper {
  padding: 1.8em 0 0 2em;
  display: flex;
  align-items: center;
  gap: 1em;

  & > * {
  font-size: 15px;
  }

  & > *:hover {
    cursor: pointer;
  }
}

.headerIconsWrapper {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;

  @include media-l {
    display: none;
  }
}

.booksyIcon {
  width: 60px;
  height: 25px;
  object-fit: cover;
}
