@import "../../sass/variables";

.footer {
  display: flex;
  width: 100vw;
  padding: 2em 4em;
  justify-content: space-around;
  align-items: center;
  background-color: $color-primary;
}

.addresses {
  display: flex;
  gap: .6em;
  flex-direction: column;
  color: $color-secondary;
}

.address {
  display: flex;
  gap: 1em;
}

.socialNetworks {
  display: flex;
  gap: 1em;
  flex-direction: column;
  color: $color-secondary;
}

.booksyIcon {
  width: 50px;
  height: 20px;
  object-fit: cover;
}
