@import "../sass/variables";
@import "../sass/mixins";

.price {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding-top: 180px;
  background-color: $color-secondary;
  color: $color-primary;

  &__section {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  &__addition {
    font-size: .8em;
    margin-top: .8em;
  }

  &__partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    padding: 1em 0 3em;
    text-align: center;
  }

  &__partnersCards {
    display: flex;
    gap: 1em;
    justify-content: space-around;
  }

  @include media-m {
    width: 90vw;
  }
}
