@import "../sass/variables";
@import "../sass/mixins";

.price {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: white;
  padding: 4em 8em;

  &__block {
    display: flex;
    flex-direction: column;
    width: 40vw;

    @include media-l {
      width: 60vw;
    }

    @include media-m {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 1em;
    @include media-m {
      font-size: 1.3em;
      padding: 1em 1em 0;
    }
  }

  &__addition {
    font-size: .8em;
    margin-top: .5em;
    @include media-m {
      padding: 1em 1em;

    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    padding: 1em 0;
    text-align: center;
  }

  &__partnersCards {
    display: flex;
    gap: 1em;
    justify-content: space-around;
  }

  @include media-m {
    width: 90vw;
    padding: 0;
    gap: 0;
  }
}
