@import "/app/sass/variables";

.price {
  &__title {
    text-align: center;
    padding: 2rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 2rem 0;
    flex-wrap: wrap;
    padding: 0 2rem;
  }
}
