@import "/app/sass/variables";
@import "/app/sass/mixins";

.price {
  @include card-section-background;

  &__content {
    @include card-section;
  }

  &__title {
    margin-bottom: 3rem;
    text-align: center;
    color: $color-light;

    @include media-l {
      margin-bottom: 5rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 2rem 0;
    flex-wrap: wrap;
    @include media-m {
      flex-direction: column;
    }
  }
}
