@import "../sass/variables";

.saltCave {
  display: flex;
  gap: 4em;
  padding: 2em;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 1em;
    color: $color-primary;
  }

  &__paragraph {
    margin-bottom: 1em;
    color: $color-primary;
  }

  &__picture {
    width: 25vw;
    height: 100%;
  }
}
