@import "../../../app/sass/variables";
@import "../../../app/sass/mixins";

.sideMenu {
  position: absolute;
  z-index: 1;
  width: 40vw;
  height: 100vh;
  padding: 5.5rem 1rem 1rem 2.5rem;

  color: $color-secondary;
  background-color: $color-dark-transparent-l;

  transform: translateX(140vw);
  transition: transform 0.5s ease;

  @include media-l {
    height: 72rem;
  }

  &_visible {
    transform: translateX(60vw);
  }

  &__socialMedia {
    padding: 2rem 0 0 1rem;
  }

  @include media-m {
    width: 65vw;
    padding: 6rem 0 0 1rem;
    transform: translateX(165vw);

    &_visible {
      transform: translateX(35vw);
    }
  }
}
