@import "../../../app/sass/variables";
@import "../../../app/sass/mixins";

.footer {
  display: flex;
  width: 100%;
  padding: 2em 4em;
  justify-content: space-between;
  background-color: $color-primary;
  color: $color-secondary;

  &__contacts {
    display: flex;
  }

  &__addresses {
    display: flex;
    flex-direction: column;
    gap: .6em;
  }

  &__address {
    display: flex;
    gap: 1em;
  }

  &__divider {
    display: none;
    @include media-m {
      display: flex;
    }
  }

  &__socialNetworks {
    display: flex;
    flex-direction: column;
    gap: .6em;

    & > h4 {
      @include media-m {
        display: none;
      }
    }
  }

  @include media-l {
    padding: 2em 1em;
  }

  @include media-m {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
}
