@import "/app/sass/variables";
@import "/app/sass/mixins";

.benefitCard {
  align-items: center;
  width: 30%;
  padding: 4rem 1rem;
  @include card;

  @include media-l {
    gap: 1rem;
    width: calc(33% - 0.5rem);
    height: 35rem;
  }

  @include media-m {
    width: 100%;
    padding: 4rem;
  }

  &__title {
    @include title-card;
    height: 20%;

    @include media-l {
      display: flex;
      align-items: center;
      height: 30%;
    }
  }

  &__icon {
    width: 9rem;
    height: auto;
  }

  &__text {
    font-size: 1.7rem;
    text-align: center;
    color: $color-light;
  }
}
