@import "app/sass/variables";
@import "app/sass/mixins";

.contactsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  @include media-l {
    flex: 1;
    padding: 3rem 0 3rem 6rem;
  }

  @include media-m {
    align-items: center;
    text-align: center;
    padding: 0;
  }

  @include media-s {
    padding: 4rem 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.5rem;
    @include media-m {
      font-size: 2.3rem;
    }
  }

  &__weekHours {
    margin-bottom: 0.5rem;
  }
}
