@import "../../app/sass/mixins";

.icons {
  display: flex;
  align-items: center;
  gap: .5em;
  color: $color-primary;

  &_light {
    color: $color-secondary;
  }

  &_header {
    position: absolute;
    top: 50px;
    right: 4.5em;
    z-index: 1;

    @include media-l {
      display: none;
    }
  }
}
