@import "sass/variables";
@import "sass/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  color: $color-dark-m;
  background-color: $color-secondary;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

p,
a,
li,
span,
i {
  font-family: var(--text-font);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p,
a {
  @include text;
}
