@import "sass/variables";
@import "sass/mixins";

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;

  color: $color-secondary;
  background-color: $color-dark-transparent-xl;

  &__title {
    font-size: 10rem;
    font-weight: lighter;
    color: $color-secondary;
  }

  &__subtitle {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: $color-secondary;
  }

  &__icon {
    margin-bottom: 2rem;
    font-size: 5rem;
    color: $color-secondary;
    @include animation-spin;
  }

  &__link {
    color: $color-secondary;
    text-decoration: underline;
  }
}
