@import "/app/sass/variables";
@import "/app/sass/mixins";

.benefits {
  @include card-section-background;

  &__content {
    @include card-section-layout;
    display: flex;
    justify-content: space-between;

    @include media-m {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
}
