@import "../sass/variables";
@import "../sass/mixins";

.rules {
  margin: 0 2em;
  padding: 2em 4em;
  background-color: white;
  border-radius: 1em;

  @include media-l {
    padding: 0 1em;
  }

  &__rule {
    margin: .5em;
  }
}
