@import "app/sass/variables";
@import "/app/sass/mixins";

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 3em;

  &__wrapper {
    color: $color-secondary;
    background-color: $color-primary;
  }

  @include media-m {
    flex-direction: column;
    padding: 0;
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    gap: .5em;

    @include media-m {
      padding: 2em;
    }
  }
}
