@import "../../app/sass/variables";
@import "../../app/sass/mixins";

.contacts {
  @include info-section-layout;
  align-items: center;

  @include media-l {
    height: 480px;
    gap: 2rem;
  }

  @include media-m {
    flex-direction: column;
    height: unset;
  }

  @include  media-s {
    padding: 4rem 0 0;
  }
}
