@import "./app/sass/mixins";

.page {
  &__textBlock {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;

    &_dark {
      background-color: $color-primary;
      color: $color-secondary;
    }

    @include media-l {
      flex-direction: column;
      padding: 3em;
      align-items: center;
    }
    @include media-m {
      padding: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 2em;

    @include media-l {
      padding: 0;
    }

    @include media-m {
      padding: 2em;
    }
  }

  &__subtitle {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__list h4 {
    display: inline-block;
  }

  &__list p {
    padding-left: 1.4em;
  }

  &__picture {
    width: 30vw;
    height: 30vw;

    @include media-l {
      width: 60vw;
      height: 60vw;
    }

    @include media-m {
      width: 90vw;
      height: 90vw;
    }
  }
}
