@import "../../../app/sass/variables";
@import "../../../app/sass/mixins";

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
  max-width: 75vw;
  margin: auto;
  padding: 3rem 0;

  @include media-xl {
    max-width: 90vw;
  }

  @include media-l {
    max-width: 65vw;
    margin: 120px auto 2em;
  }

  @include media-m {
    max-width: 100vw;
  }
}
