@import "variables";

@mixin media-xl {
  @media screen and (max-width: $screen-width-xl) {
    @content;
  }
}

@mixin media-l {
  @media screen and (max-width: $screen-width-l) {
    @content;
  }
}

@mixin media-m {
  @media screen and (max-width: $screen-width-m) {
    @content;
  }
}

@mixin block-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@mixin block-border {
  border-radius: 0.5rem;
}

@mixin animation-zoom {
  animation: zoom 500ms ease-out;
}

@mixin animation-fade-in {
  animation: fadeIn 1s ease-out;
}

@mixin zoom {
  @keyframes zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
  }
}

@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
