@import "variables";

// Typography

@mixin title-info-section {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  color: $color-primary;

  @include media-m {
    margin-bottom: 2rem;
  }

  @include media-s {
    margin-bottom: 0;
  }
}

@mixin title-card-section {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3.5rem;
  color: $color-light;

  @include media-l {
    margin-bottom: 5rem;
  }
}

@mixin title-card {
  text-align: center;
  font-size: 2rem;
  color: $color-light;
}

@mixin subtitle-info-section {
  font-size: 1.95rem;

  @include media-l {
    font-size: 1.85rem;
  }

  @include media-m {
    font-size: 2.2rem;
  }
}

@mixin text {
  font-family: var(--text-font);
  font-size: 1.7rem;

  @include media-m {
    font-size: 1.9rem;
  }

  @include media-s {
    font-size: 1.65rem;
  }
}

// Card section

@mixin card-section {
  margin: auto;
  padding: 5rem 0;
  width: 85%;
  max-width: 100rem;

  @include media-l {
    width: 95%;
  }

  //@include media-s {
  //  padding: 0;
  //}
}

@mixin card-section-background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url("../../public/sections-images/price.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin card {
  box-shadow: 0 0.2rem 0.4rem 0 $color-dark-transparent-s;
  border-radius: 0.5rem;
  @include transition;

  &:hover {
    @include animation-zoom;
  }
}

// Animation

@mixin transition {
  transition: transform 500ms ease-out;
}

@mixin animation-spin {
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin animation-zoom {
  transform: scale(1.01);
}

@mixin animation-zoom-l {
  transform: scale(1.05);
}

@mixin animation-shake {
  animation: shake 5s 7s both infinite;
  @keyframes shake {
    0%, 20% {
      transform: translate3d(0, 0, 0);
    }
    10%, 14%, 18%, 2%, 6% {
      transform: translate3d(-2px, 0, 0);
    }
    12%, 16%, 4%, 8% {
      transform: translate3d(2px, 0, 0);
    }
  }
}

@mixin animation-pump {
  animation: pump 500ms ease-out;
  @keyframes pump {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
  }
}

@mixin animation-rotate {
  transform: rotate(-90deg);
}

// Breakpoints

@mixin media-l {
  @media screen and (max-width: $screen-width-l) {
    @content;
  }
}

@mixin media-m {
  @media screen and (max-width: $screen-width-m) {
    @content;
  }
}

@mixin media-s {
  @media screen and (max-width: $screen-width-s) {
    @content;
  }
}


