$color-primary: #834a4c;
$color-secondary: #f4f1e8;

$color-light: #ffffffff;
$color-light-s: #d0d0d0;

$color-dark-xs: #b9b9b9ff;
$color-dark-s: #5e5e5eff;
$color-dark-m: #3a3a3a;
$color-dark-l: #000000ff;

$color-dark-transparent-xs: #0000001a;
$color-dark-transparent-s: #0000003f;
$color-dark-transparent-m: #0000007f;
$color-dark-transparent-l: #000000b5;
$color-dark-transparent-xl: #000000e5;

$screen-width-m: 768px;
$screen-width-l: 992px;
