$color-primary: #834a4c;
$color-primary-transparent: #834a4c7f;
$color-secondary: #f4f1e8;

$color-light: #ffffffff;

$color-dark-l: #000000ff;
$color-dark-m: #3a3a3a;
$color-dark-s: #5e5e5eff;
$color-dark-xs: #b9b9b9ff;

$color-dark-transparent: #0000007f;
$color-dark-transparent-l: #000000b5;
$color-dark-transparent-xl: #000000e5;

$screen-width-xl: 1100px;
$screen-width-l: 920px;
$screen-width-m: 620px;
