$color-primary: #834a4c;
$color-primary-transparent: rgba(131, 74, 76, 0.5);
$color-secondary: #f4f1e8;

$color-dark-l: rgb(0, 0, 0);
$color-dark-m: rgb(30, 30, 30);
$color-dark-s: rgb(94, 94, 94);
$color-dark-transparent: rgba(0, 0, 0, 0.5);
$color-dark-transparent-l: rgba(0, 0, 0, 0.71);

$screen-width-l: 920px;
$screen-width-m: 620px;
