@import "../../app/sass/variables";
@import "../../app/sass/mixins";

.map {
  width: 35vw;
  height: 35vw;
  color: $color-dark-m;

  & a {
    color: $color-primary;
  }

  @include media-m {
    width: 80vw;
    height: 80vw;
    margin: auto;
  }
}
