@import "../../../app/sass/mixins";

.section {
  color: $color-secondary;
  background-color: $color-primary;

  &__textBlock {
    display: flex;
    gap: 1em;
    align-items: stretch;
    justify-content: space-between;
    height: max-content;
  }

  &__title_light {
    color: $color-secondary;
  }

  &__subtitle {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 2.5em 0;
  }

  &__listSubtitle {
    display: inline-block;
  }

  &__listText {
    padding-left: 1.4em;
  }

  &__picture {
    width: 30vw;
    height: auto;
  }
}
