@import "../../../app/sass/mixins";

.section {
  background-color: $color-secondary;

  &_light {
    color: $color-secondary;
    background-color: $color-primary;
  }

  &__textBlock {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    height: max-content;
  }

  &__title_light {
    color: $color-secondary;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 0;
  }

  &__picture {
    width: 30vw;
    height: auto;
  }
}
