@import "../sass/variables";
@import "../sass/mixins";

.contacts {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 3em;

  & h1 {
    text-align: left;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  @include media-m {
    flex-direction: column;
    padding-top: 0;
  }
}
