@import "../sass/variables";
@import "../sass/mixins";

.contacts {
  &__text {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  @include media-m {
    flex-direction: column;
    padding-top: 0;
  }
}
