@import "../sass/variables";
@import "../sass/mixins";

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  background-color: white;

  @include media-m {
    flex-direction: column;
    padding: 0;
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    gap: .5em;

    @include media-m {
      padding: 2em;
    }
  }
}
