@import "../../../app/sass/mixins";

.page {
  &__textBlock {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: stretch;
    height: 350px;
    background-color: white;

    &_dark {
      background-color: $color-primary;
      color: $color-secondary;
    }

    &_text {
      height: unset;
      padding: 0 3em;
      @include media-m {
        padding: 0;
      }
    }

    @include media-l {
      height: unset;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 2.5em;

    @include media-m {
      padding: 2em;
    }
  }

  &__subtitle {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__list h4 {
    display: inline-block;
  }

  &__list p {
    padding-left: 1.4em;
  }

  &__picture {
    position: relative;
    display: block;
    width: auto;
    max-width: 350px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 100%;

    @include media-l {
      max-width: unset;
      width: 100%;
      height: auto;
    }
  }
}
