@import "../../sass/variables";

.carousel {
  min-width: 350px;
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-l;
  overflow: hidden;
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  opacity: 60%;
}
