@import "../sass/variables";

.inhalation {
  display: flex;
  gap: 4em;
  padding: 2em;

  &__text {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin-bottom: 1em;
  }

  &__picture {
    width: 35vw;
    height: 100%;
  }
}
