@import "../sass/variables";

.yoga {
  display: flex;
  gap: 4em;

  &__text {
    display: flex;
    flex-direction: column;
    padding: 4em;
  }

  &__title {
    margin-bottom: 1em;
  }

  &__picture {
    width: 25vw;
    height: 100%;
  }
}
