@import "../../../app/sass/variables";
@import "../../../app/sass/mixins";

.nav {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.85em;
  align-items: center;
  background-color: $color-dark-transparent;

  @include media-l {
    display: none;
  }
}

.sideMenuNav {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  padding-left: 1.2em;
  width: 90%;
  background-color: transparent;
}

.navItem {
  padding-left: 1.2em;
  margin-bottom: .2em;
}

.submenu {
  background-color: $color-dark-transparent;
}
